@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@1,900&display=swap');

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
	align-items: center;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/* softer a links */

a {
	color: rgb(21, 124, 0);
	text-decoration: dotted underline;
}
